body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #3f4850;
  background-color: #ebfff5;
  font-family: 'Noto Sans TC', sans-serif;
}

.photo-container {
  background-color: #9fd8c0;
  padding: 2em;
  border-radius: 2%;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: #438bbd;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #f5f7f8;
  padding: 10px 15px;
  border: 3px solid #9fd8c0;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.main-nav li {
  width: 100%;
  margin-bottom: 1em;
}

/*.main_nav {
  display: block;
  background: #438bbd;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
} */


.first_nav {
  display: block;
  background: #48c96e;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.second_nav {
  display: block;
  background: #c34cce;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.third_nav {
  display: block;
  background: #d3784e;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.first_nav:hover, .first_nav_active {
  display: block;
  background: #2c964c;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.second_nav:hover, .second_nav_active {
  display: block;
  background: #95309e;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.third_nav:hover, .third_nav_active {
  display: block;
  background: #b85f36;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.search-form button:hover {
  background-color: #366f97;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 3%;
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
  
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #9fd8c0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5f9981;
}

::-webkit-scrollbar-button {
  background-color: #5f9981;
}

@media only screen and (max-width: 767px)  {
  body {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px)  {
  body {
    padding-top: 4em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }
  
  .main-nav li {
    margin: 10px;
    width: 100px;
  }
}
